/*===============================banner=======================================*/
#defbanner {position:relative;display:block;width:100%;top:0px;z-index:0;}
.swiper-container-horizontal>.swiper-pagination-bullets{bottom:8%;}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0px 5px;}
.swiper-pagination-bullet{width:20px;height:20px;}
.defad{display:block;overflow:hidden;margin-bottom:20px;}
.defad img{width:100%;}
.banner-text {position:absolute;top:40%;left:calc(50% - 100px);font-weight:400;}
.banner-text .small-title{font-size:51pt;line-height:80px; color:#fff;}
/*.banner-text .small-title:after{display:block;width:138px;content:"";clear:both;height:4px;background:#1374f6;}*/
.banner-text h1{font-size:32pt;line-height:36pt;font-weight:400;color:#fff;}
.banner-text h2{font-size:24pt;line-height:56pt;font-weight:400;color:#fff;}
.banner-text a.moreshow {display:block;margin-top:20px;width:120px; text-align:center;padding-left:10px;padding-right:10px; line-height:40px;font-size:14px;}
@media screen and (max-width: 1150px) {
    #defbanner{position:relative; margin-top:0px;}
    .banner-text {position:absolute;top:20%;left:10%;font-weight:400;}
    .banner-text .small-title{font-size:51px;line-height:80px; color:#fff;}
    .banner-text h1{font-size:32px;line-height:50px;font-weight:400;color:#fff;}
    .banner-text h2{font-size:24px;line-height:50px;font-weight:400;color:#fff;}    
}
/*===============================default common=======================================*/
.content{position:relative;margin-top:0px;}
.defblock{font-size:12pt;line-height:28px;color:#666;position:relative;margin-top:0px;}
.defblock:after{display:block;content:"";width:100%;clear:both;}
.defblock {padding:0px 0px 0px 0px;}
.defblock .w1200 {margin:0px auto;}
.def_bgrdp70{background:#fff;}
.def_bgee{background:#f6f7fb;}
@media screen and (min-width: 1367px) and (max-width: 1920px){
   /* .defblock .w1200 {width:76%;}*/
    .defblock .w1200 {width:1200px;}
}
@media screen and (max-width: 1150px) {
    .defblock .w1200 {width:100%;}
}
.defblock .w1200 .pagemore01 {font-size:10pt; margin: 30px auto;width: 160px;height: 46px;line-height:46px;border-radius: 0px;text-align: center;transition: all ease 0.5s;display: block;color:#999;background:#fff; border:1px solid #999;}
.defblock .w1200 .pagemore02 {font-size:10pt;margin: 30px auto;width: 200px;height: 46px;line-height:46px;border-radius: 50px;text-align: center;transition: all ease 0.5s;display: block;color:#333;background:#fff;transform: translateX(0);}
.defblock .w1200 .pagemore01:hover,.defblock .w1200 .pagemore02:hover{width:220px;transition: all ease 0.5s;}
.aboutimg ,
.defblock a{overflow:hidden;}
.defblock img{-webkit-transform:scale(1.0,1.0);-moz-transform:scale(1.0,1.0);-transform:scale(1.0,1.0);transition:all .3s}
.defblock img:hover{-webkit-transform:scale(1.2,1.2);-moz-transform:scale(1.2,1.2);-transform:scale(1.2,1.2);transition:all .3s}
.def_bgprod{background:url("../images/aboutBg.jpg")/*tpa=http://www.rabbitexpress.cn/template/MB1014/images/aboutBg.jpg*/ no-repeat bottom center;background-size:100% 100%;padding-bottom:60px;}
/*===============================大标题=======================================*/
.text-left {text-align:left;}
.text-center {text-align:center;}
.text-right {text-align:right;}
.text-uppercase {text-transform: uppercase;}
.mTitbg{ overflow:hidden;padding:30px 0 30px 0px;}
.mTitbg h2{ display:block; position:relative;width:calc(100% - 0px);padding-left:0px; font-size:24px;line-height:2; color:#222;font-weight:600;}
/*
.mTitbg h2:before{display:block;content:"";width:4px;height:80%;background:#0645a2;position:absolute;left:0px;top:10%;}
*/
.mTitbg h2 p{ font-size:16px; color:rgba(0,0,0,0.5); line-height:24px; font-family:Arial;margin:0px;font-weight:400;display:block;margin-left:0px;}
.mTitbg h2 a.btn2{display:block;position:absolute;top:16px;right:0px;border-radius:5px;}
/*业务范围*/
.index-service{ padding:60px 0;}
.service-box {display:inline;float:left;width:calc(23.5% - 2px);margin-right:2%;text-align:center;border:1px solid #dcdcdc;position:relative;}
.service-box:before{display:block;content:"";width:100%;height:4px;position:absolute;left:0px;top:0px;background:#0645a2;z-index:0;transition:all .3s;} 
.service-box:nth-child(4n+1):before{background:#0645a2;}
.service-box:nth-child(4n+2):before{background:#1E9FFF;}
.service-box:nth-child(4n+3):before{background:#5FB878;}            
.service-box:nth-child(4n):before{background:#FF5722;}       
.service-box:nth-child(4n) {margin-right:0;}
.service-box:hover:before{display:block;content:"";width:100%;height:100%;position:absolute;left:0px;top:0px;z-index:0;transition:all .3s;} 
.service-box div{width:80%;margin:0px auto;position:relative;z-index:1;}
.service-box .iconfont{font-size:60px;line-height:100px;}
.service-box  p{font-size:14px;}
.service-box:hover,.service-box:hover h3.tit a {color:#fff;}
/*产品展示*/
.swiper-container-horizontal>.btndefhistorypage{bottom:0}
.certitemwrap{height:auto;padding:10px;padding-bottom:40px}
.certitembox img{width:100%}
.container_warp{background:#eee;padding-bottom:0}
.certitemwrap{margin-bottom:100px}
.certitembox{position:relative;}
.certitembox a{display:block;text-align:left}
.certitembox em{display:block;color:#0c7b5b;padding:17px 17px 0 17px;line-height:20px}
.certitembox span{display:block;position:absolute;left:0px;bottom:0px;display:block;width:100%;text-align:center;line-height:40px;min-height:40px;background:#0645a2; color:#fff;font-size:small;transition:all .3s;}
.certitembox span:hover{background:#fed120;transition:all .3s;}
/*新闻中心*/
.def_bgcontact h3{margin-bottom:0px;font-size:20px;}
.contact_lft{display:inline;float:left;width:49%;margin-left:0%}
.newsitembox{display:block;width:100%;position:relative}
.newsitembox a,.newsitembox a img{display:block;width:100%}
.newsitembox span{display:block;width:calc(100% - 5%);padding:0 2.5%;height:60px;line-height:60px;position:absolute;left:0;bottom:0;background:linear-gradient(to bottom,rgba(255,255,255,0),#0645a2);color:#fff}
.newsitemwrap .swiper-pagination{text-align:right;bottom:20px;width:97.5%;padding-right:2.5%}
.contact_rgt{display:inline;float:right;width:49%}
.contact_rgt ul{margin:0px 0px;}
.contact_rgt ul li{line-height:30px;position:relative;font-size:14px;padding:10px 0px;border-bottom:1px solid #dcdcdc;}
.contact_rgt ul li:first-child{padding:0px 0px 10px 0px;}
.contact_rgt ul li .time{display:inline;width:50px; padding:0px 15px 0px 15px;margin:0px 20px 0px 0px;border-right:1px solid #dcdcdc;background:#0645a2;}
.contact_rgt ul li .time .day{display:block;width:40px;line-height:40px;text-align:center;color:#fff;font-size:40px;}
.contact_rgt ul li .text{display:inline;width:calc(100% - 110px);transition:all .3s;}
.contact_rgt ul li:hover .text{display:inline;width:calc(100% - 120px);transition:all .3s;}
.contact_rgt ul li:hover .text a{color:#0645a2;}
.contact_rgt ul li .text p{margin:0px;}
.contact_rgt ul li a{display:block;width:100%;font-size:16px;line-height:40px; white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.contact_rgt ul li .time_fmart{position:relative;right:0px;font-size:smaller;color:#fff;}
/*解决方案*/
.partlist {margin-bottom: 60px;}
.partlist ul li {display: inline;float: left;width: 25%;margin-right:0%; border:0px dotted #f5f6f7;position:relative;padding:0px;}
.partlist ul li:first-child{width:50%;float:right; }
.partlist ul li a{display:block;width:100%;height:auto;overflow:hidden;}
.partlist ul li label{display:block;width:100%;height:100%;position:absolute;left:0%;top:0%;transition:all .3s;background:rgba(8, 161, 44, 0.3);}
.partlist ul li label span{display:block;width:60%; position:absolute;left:20%;top:calc(50% - 20px); color:#fff;height:40px;line-height:40px;text-align:center;margin-left:auto;margin-right:auto;}
.partlist ul li label:hover{display:block;width:100%;height:100%;position:absolute;left:0%;top:0%;background:none;transition:all .3s;}
.partlist ul li label:hover span{display:none;}
.partlist ul li a img{display:block;width:100%;height:auto; margin:0%;-webkit-transform:scale(1.0,1.0);-moz-transform:scale(1.0,1.0);-transform:scale(1.0,1.0);transition:all .3s}
.partlist ul li:hover a img{-webkit-transform:scale(1.2,1.2);-moz-transform:scale(1.2,1.2);-transform:scale(1.2,1.2);transition:all .3s}
/*关于我们*/
.defbg_about{width: 100%;padding:0px;position:relative;}

.defblock .floor_4{padding: 60px 0;}
.defblock .floor_4 .aTit{height:190px;background: url("../images/titLine.png")/*tpa=http://www.rabbitexpress.cn/template/MB1014/images/titLine.png*/ no-repeat 14px center;}
.defblock .floor_4 .aTit .tit{padding-top:60px;display:block;font-size:40px;font-weight:bold;color:#0645a2;line-height:40px;}
.defblock .floor_4 .aTit .subtit{font-size: 16px;color: #666;line-height:18px;font-weight: normal;padding-top: 12px;}
.defblock .floor_4 .aboutimg{width: 500px; height: auto; margin-left:20px;display: block; background: #fff; box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1); padding: 10px;}
.defblock .floor_4 .aboutimg img{width: 500px; height: initial; display: block;}

.defblock .floor_4 .abouttext{width: 560px; display: block;}
.defblock .floor_4 .abouttext .stit{font-size: 24px; font-weight: bold; padding-top: 36px;color:#333;line-height:26px;}
.defblock .floor_4 .abouttext h4{color: #999; font-size: 24px; display: block;}
.defblock .floor_4 .abouttext .desc{padding-top: 40px;color: #666;line-height: 30px;margin-bottom: 46px;text-align: justify;}
.defblock .floor_4 .abouttext .more{margin: 0;}
/*count*/
.defcount{margin-top:40px;padding:30px 0;background:linear-gradient(to bottom,#269e19,#0645a2);}
.ul-count{overflow:hidden}
.ul-count li{float:left;width:25%}
.ul-count li .txt{color:#fff;text-align:center;border-right:1px solid #fff}
.ul-count li:last-child .txt{border-right:0}
.ul-count li .txt span{display:inline-block;width:60px;text-align:right;position:relative;right:-24%;font-size:14px}
.ul-count li .txt em{display:block;font-size:50px}
.ul-count li .txt p{font-size:12px}
/*tech*/
.def_tech{display:inline;width:49%}
.def_tech a.btn2{height:48px;line-height:48px;font-size:14px;font-weight:300;float:right}
.def_tech .mTitbg h2{border-bottom:2px solid #dcdcdc}
.def_tech .mTitbg span{padding:9px 10px;border-bottom:2px solid #269e19;margin-bottom:0}
.def_tech ul li,.def_tech ul li a{height:32px;line-height:32px}

@media screen and (max-width:1200px) {        
    /*===============================大标题=======================================*/
    .text-center {text-align:center;}
    .text-uppercase {text-transform: uppercase;}
    .mTitbg{ overflow:hidden;min-height:initial;}
    .mTitbg h2{ display:block;position:relative; font-size:20px;line-height:2; color:#0645a2;font-weight:600;border-bottom:1px solid #dcdcdc;}
    .mTitbg h2 span{padding:0px 0px;border-bottom:0px solid #269e19;margin-bottom:0}
    .mTitbg h2 p{ font-size:16px; color:#323232; line-height:24px; font-family:Arial;margin:0px;font-weight:400;display:none;margin-left:10px;}
    .mTitbg h2 a.btn2{top:5px}
    
    .def_bgprod h2{width:calc(95% - 10px);margin:0px auto;}

    .def_bgee .mTitbg h2{ display:block;position:relative; font-size:24px;line-height:2; color:#0645a2;font-weight:600;width:95%;margin:0 2.5%; border-bottom:2px solid #dcdcdc;}

    .defblock .w1200 .pagemore01 {font-size:10pt; margin: 30px auto;width: 160px;height: 36px;line-height:36px;border-radius: 0px;text-align: center;transition: all ease 0.5s;display: block;color:#dcdcdc;background:#fff; border:1px solid #dcdcdc;}
    .defblock .w1200 .pagemore02 {font-size:10pt;margin: 30px auto;width: 200px;height: 36px;line-height:36px;border-radius: 50px;text-align: center;transition: all ease 0.5s;display: block;color:#333;background:#fff;transform: translateX(0);}
    .defblock .w1200 .pagemore01:hover,.defblock .w1200 .pagemore02:hover{width:220px;transition: all ease 0.5s;}

    .swiper-button-prev.swiper-button-white, .swiper-container-rtl .swiper-button-next.swiper-button-white,
    .swiper-button-next.swiper-button-white, .swiper-container-rtl .swiper-button-prev.swiper-button-white{display:none;}

    .defblock {padding:30px 0px 0px 0px;}
    .defblock .w1200 {clear:both; width:100%;padding:0%; margin:0px auto;text-align:center;position:relative;}
    .defblock .w1200 h3{position:relative;}
    .defblock .w1200 h3 small {display: block;width:95%;padding:0 2.5%; text-align:center; line-height:40px;height:40px; font-size:14pt;font-weight:bold;z-index:1;position:relative;}
    .defblock .w1200 h3 font {display:block;width:80px;left:calc(50% - 40px); text-align:center; margin-left:0px;color:#999;font-size:11pt;text-transform:uppercase; position:relative;top:0pt;z-index:1}
    .defblock .w1200 h3 font.color-fs{color:#00a2da;}
    .defblock .w1200 h3 i{display: block;font-size: 18px;color: #ccc;line-height: 30px;}
    .defblock .w1200 h3 a {display: none;height:40px;line-height:40px;font-size:x-small; position:absolute;right:2.5%;top:0;z-index:2;color:#fff;}
    .defblock .swfj_box,.def_bbys{padding: 70px 0px 70px 0px;}
    .defblock .w1200 h3 small:after{content:".";width:40px;color:#fff;}
    .defblock .w1200 h3 small:before{content:".";width:40px;color:#fff;}
    .defblock .w1200 h3 small:before, .defblock .w1200 h3 small:after {content: '';position: absolute; top: 50%;background: #fff;width: 30%;height: 1px;z-index:1;display:none;}
    .defblock .w1200 h3 small:before {left: 15%;}
    .defblock .w1200 h3 small:after {right: 15%;}
    .def_bb{padding:0px 0px 80px 0px;}
    .def_bgrdp70 {padding:0px 0px 0px 0px;}
    .def_bg{background:rgba(55,79,90,.9);background-size:400% auto;padding:20px 0px 20px 0px;}            
    /*业务范围*/
    .index-service{ padding:0px 0;}
    .service-box {display:inline;float:left;width:50%;margin-right:0%;text-align:center;border:0px solid #dcdcdc;position:relative;}
    .service-box:before{display:block;content:"";width:100%;height:100%;position:absolute;left:0px;top:0px;background:#0645a2;z-index:0;transition:all .3s;} 
    .service-box:nth-child(4n+1):before{background:#0645a2;}
    .service-box:nth-child(4n+2):before{background:#1E9FFF;}
    .service-box:nth-child(4n+3):before{background:#5FB878;}            
    .service-box:nth-child(4n):before{background:#FF5722;}       
    .service-box:nth-child(4n) {margin-right:0;}
    .service-box:hover:before{display:block;content:"";width:100%;height:100%;position:absolute;left:0px;top:0px;z-index:0;transition:all .3s;} 
    .service-box div{width:90%;margin:5% auto;position:relative;z-index:1;color:#fff;}
    .service-box .iconfont{font-size:60px;line-height:60px;}
    .service-box  p{font-size:12px;margin:0px;line-height:22px;}
    .service-box:hover,.service-box:hover h3.tit a {color:#fff;}       
    /*defcontact*/
    .def_bgcontact .w1200 {width:95%;padding:0 2.5%; text-align:left;}
    .def_bgcontact h3{margin-bottom:30px}
    .contact_lft{display:inline;float:left;width:100%;margin-bottom:30px;}
    .contact_rgt{display:inline;float:right;width:100%;margin-left:0%;margin-bottom:30px;}

    .certitemwrap {padding-bottom:0px;margin-bottom:0px;}
    .certitem_list{display:block;float:left; }

    .partlist ul li {display: inline;float: left;width: 50%;margin-right:0%; border:0px dotted #f5f6f7;}
    .partlist ul li:nth-child(3n){display: inline;float: left;width: 50%;margin-right:0%; border:0px dotted #f5f6f7;}
    .partlist ul li:first-child {display: inline;float: left;width: 100%;margin-right:0%; border:0px dotted #f5f6f7;}
    .partlist ul li a{display:block;width:100%;}
    .partlist ul li a img{display:block;width:100%;height:auto; margin:0%;}

    /*关于我们*/
    .defbg_about{width: 100%; height:auto;background: #f6f7fb;padding:0px;}
    .defbg_about:after{display:none;}
    .defblock .floor_4{padding: 0px 0;}
    .defblock .floor_4 .aTit{height:190px;background: url("../images/titLine.png")/*tpa=http://www.rabbitexpress.cn/template/MB1014/images/titLine.png*/ no-repeat 14px center;}
    .defblock .floor_4 .aTit .tit{padding-top:60px;display:block;font-size:40px;font-weight:bold;color:#0645a2;line-height:40px;}
    .defblock .floor_4 .aTit .subtit{font-size: 16px;color: #666;line-height:18px;font-weight: normal;padding-top: 12px;}
    .defblock .floor_4 .aboutimg{width: 100%; height: auto; margin-left:0px;display: none; background: #fff; box-shadow: initial; padding: 0px;}
    .defblock .floor_4 .aboutimg img{width: 100%; height: auto; display: block;}
    .defblock .floor_4 .abouttext{width: 95%; display: block;padding:0 2.5% 2.5%;}
    .defblock .floor_4 .abouttext .stit{font-size: 24px; font-weight: bold; padding-top: 36px;color:#333;line-height:26px;}
    .defblock .floor_4 .abouttext h4{color: #999; font-size: 24px; display: block;}
    .defblock .floor_4 .abouttext .desc{padding-top: 0px;color: #666;line-height: 30px;margin-bottom: 0px;text-align: left;display:block;width:95%;padding:2.5%;}
    .defblock .floor_4 .abouttext .more{margin: 0 auto;}
    /*count*/
    .defcount{margin-top:0px;padding:0px 0;background-color:#269e19}
    .ul-count{overflow:hidden}
    .ul-count li{float:left;width:calc(50% - 1px);border-bottom:1px solid #fff;border-right:1px solid #fff;}
    .ul-count li:nth-child(2n){border-right:0px;}
    .ul-count li .txt{color:#fff;text-align:center;border-right:0px solid #fff}
    .ul-count li:last-child .txt{border-right:0}
    .ul-count li .txt span{display:inline-block;width:60px;text-align:right;position:relative;right:-24%;font-size:12px}
    .ul-count li .txt em{display:block;font-size:30px}
    .ul-count li .txt p{font-size:12px}
    /*tech*/
    .def_tech{display:inline;width:95%;margin:0 2.5%;padding:0;}
    .def_tech .mTitbg h2{border-bottom:2px solid #dcdcdc;display:block;width:100%;padding:0;margin:0;}
    .def_tech .mTitbg span{padding:9px 0px;border-bottom:2px solid #269e19;margin-bottom:0}        
    .def_tech ul li,.def_tech ul li a{height:32px;line-height:32px}

    .def_bgprod{background:#fff;background-size:100% 100%;padding-bottom:60px;}
}

@media screen and (max-width:1390px ) and (min-width:768px) {
    .certitembox{background:#fff;display:inline;float:left;width:32%;margin-right:2%;margin-bottom:2%;}
    .certitembox:nth-child(3n){background:#fff;display:inline;float:left;width:32%;margin-top:0px; margin-right:0%;}
    .certitembox span{display:block;padding:0 0px;text-align:center;line-height:40px;min-height:40px;font-size:small;}
}
@media screen and (max-width:480px) {
    .certitembox{background:#fff;display:inline;float:left;width:49%;margin-right:2%;margin-bottom:2%;}
    .certitembox:nth-child(2n){background:#fff;display:inline;float:left;width:49%;margin-top:0px; margin-right:0%;}
    .certitembox span{display:block;padding:0 0px;text-align:center;line-height:40px;min-height:40px;font-size:small;}
}