.page:after {display: block;content: "";width: 100%;clear: both;}
#defbanner{display:none;}
/***********************************secbanner***************************************** */
#secbanner{width:100%; max-height:360px;height:auto;margin:0px auto 0px auto;text-align:center; overflow:hidden; position:relative; z-index:0;display:block;padding-top:0px;}
#secbanner a {display:block;position:relative;}
#secbanner a:after{display:none;width:100%; height:100%;position:absolute; content:"";background:rgba(0,0,0,0.3);left:0px;top:0px; z-index:0;}
#secbanner a img {width:auto;height:auto;animation:zzt 10s infinite linear;}
#secbanner .type_name{width:1200px; position: absolute;top: calc(50% - 40px);left:calc(50% - 600px);margin-left: auto;margin-right:auto; text-align:center;display:block;animation: fadeInUp 1s;}
#secbanner .type_name h3{font-size: 20px;color:#222;  margin-bottom: 18px;font-weight: 500;display:block;}
#secbanner .type_name p{font-size:30px;height:40px;line-height:40px; color:#00000060;font-weight:lighter; font-family:arial,helvetica,sans-serif;text-transform:uppercase; display:block;margin:10px auto;
                         /*background-image:-webkit-linear-gradient(bottom,#eee,#f6f7fb,#333,#fff); 
                         -webkit-background-clip:text; 
                         -webkit-text-fill-color:transparent; */
}
#secbanner .type_name p:after{display:block;width:80px;height:4px;content:"";position:absolute;left:calc(50% - 40px);background:#0645a2; }
#secbanner .type_name i{display:none;width:1px;height:60px;background:#fff;position:absolute;margin-left:4px;animation: tb linear 3s infinite alternate;}
#secbanner .type_name i:after {position:absolute;width:9px;height:9px;border-radius:50%;bottom:0px;left:-4px;background:#fff;content:"";}
 @keyframes zzt{ 0%{transform:scale(1.05);} 50%{transform:scale(1.0);} 100%{transform:scale(1.05);} } 
 @-webkit-keyframes zzt{ 0%{transform:scale(1.05);} 50%{transform:scale(1.0);} 100%{transform:scale(1.05);} }
/***********************************right***************************************** */
.jj_right_top{display:none;}
#jj_right h1.bulid_title{display:block;height:60px; font-size:18px;line-height:60px;border-bottom:4px solid #082136;margin-bottom:20px; position:relative;color:#333;padding-left:20px;}
#jj_right h1.bulid_title i{display:block;position:absolute;width:10px;left:0;top:7px; background:#082136; float:left;height:10px;margin-top:20px; margin-right:40px;transform:rotate(45deg);}
#jj_right_con{width:100%; padding:0px 0px 0px 0px;margin-bottom:0px;margin-top:0px;} 
.jj_right_bot{display:none;position:relative;bottom:5px;padding-top:30px;}
/***********************************filiter***************************************** */
.thrdmenu {width: 100%;margin:2.5% 0 0  0;border:1px solid #eaeaea;font-size:12px; }
.thrdmenu tr td {word-break:break-all;border-bottom:1px solid #eaeaea; }
.thrdmenu td.trdtit {height:42px;width: 80px;vertical-align: text-top;text-align:center;background:#f8f8f8;}
.thrdmenu tr td  a{margin-left:10px;height:22px;line-height:22px;display:inline-block;padding:0px 8px 0px 8px;color:#333;text-align:center;border-radius:3px;margin-bottom:4px;}
.thrdmenu tr td  a.cur{margin-left:10px;display:inline-block;padding:0px 8px 0px 8px;background:#ff6a00;color:#fff;text-align:center;border-radius:3px;margin-bottom:4px;}
.thrdmenu tr td:first-child {text-align: center;font-weight: 500;}
.thrdmenu tr td.trdcon{display:block; overflow:hidden;background:#fff;}
.thrdmenu tr td.trdcon span {display: none;}
#html_keyword {width: 100%;height:40px;margin:2.5% 0 0  0;background:#666;padding:2.5%;display:none; }
#html_keyword td.htmk_tit { width: 80px;vertical-align: text-top;color:#333;font-weight:bold;text-align:left;display:none;}
#html_keyword td .keyword_input {margin-left:10px;height:42px;line-height:42px;display:inline-block;padding:0px 10px 0px 10px;background:#ff6a00;color:#fff;text-align:center;border-radius:3px;margin-bottom:10px;border:0px;font-weight:bold;}
#html_keyword td .keyword_prod {height:42px;line-height:42px;}
#html_keyword td input{margin-left:10px;font-size:12px;height:20px;line-height:20px;padding:0px 5px 0px 5px;margin-bottom:10px; }  
@media screen and (max-width:1200px) {
    .thrdmenu {width: 95%;margin:2.5% 2.5% 0 2.5%;}
    #html_keyword {width:95%;margin: 0 2.5% 2.5% 2.5%;}
    .thrdmenu tr td.trdcon{display:block;height:30px; overflow:hidden;background:#fff;}
    .thrdmenu tr td.trdcon span{display:inline;width:15px;height:15px;text-align:center;line-height:15px;margin-top:3.5px;margin-right:2.5%; float:right;background:#666;color:#fff; }            
    .thrdmenu tr td.trdcon span.on {background:#093c8b;}            
}  
/**********************************page****************************************** */
.prod_btn {padding-top:10px;width:870px;height:45px;overflow:hidden; margin:0px auto;}
#proddetail .prodtotal{ line-height:48px;border-bottom:1px solid #f1f1f1; color:#333333; font-weight:bold;}
#proddetail a img{width:270px; height:345px;}
.proddetail_txt{ width:410px; float:right;position:relative; z-index:0;top:0px;}
.proddetail_txt ul li{ line-height:42px;}
.proddetail_txt ul li span{ line-height:42px; font-weight:bold;}
.proddetail_txt ul li.btnbox{ padding-top:10px; padding-left:0px;}
.proddetail_txt ul li.btnbox img{width:95px; height:25px; margin-right:10px;}
.proddetail_txt ul li.btnbox a.poplight{ display:inline; height:24px; padding:0px 10px 0px 10px; line-height:24px; border:1px solid #d1d1d1;}
.prodtags{padding:2px 8px 2px 8px; background:#e50112; color:#ffffff; text-align:center; margin-left:10px;}
.shoptitle{ font-size:18px; font-weight:bold; line-height:42px; border-bottom:1px dashed #e6e9ed; text-align:left;}
.shopmembprice{ font-size:22px; font-weight:bold; color:#ff0000;}
#proddetailtit div.show{ display:inline; width:120px; height:35px;}
#proddetailbox{width:800px;margin:0% auto 40px auto; }
/*type-author-pubdate-T+-*/
.helptag{ text-align:left;width:100%;font-size:small;margin-top:15px;margin-bottom:15px;}
.helptxt img{ margin:0px auto; max-width:100%;}
.helptag {TEXT-ALIGN: left;}
.helptag span:first-child{background:#ccc;color:#333;padding:4px 7px 4px 7px;}
.helptag span {margin-right:2%;}
#contenttools{ display:inline; float:right; text-align:right;}
#contenttools a{margin-right:10px;}
.tsmaller{ font-size:8px; font-weight:bold;}
.tsmall{ font-size:12px;}
.tlarger{ font-size:16px; font-weight:bold;}
.print{ margin-left:5px;}
.copylink{ margin-left:5px;}
/*tags-link-prev-next-*/
.helptags {TEXT-ALIGN: left; margin-top:0px; margin-bottom:10px;text-align:left;width:95%;background:#f6f7fb;display:block;padding:1% 2.5%;font-size:small;line-height:2.15em;}
.helptags a {display:inline;padding:2px 10px 2px 10px; background:#333; color:#fff;margin-right:5px;}
.helptags a:hover {background:#d33a01;color:#ffffff;} 
.helplink{ text-align:center;}
UL.prevnext {display:block;position:relative;min-height:40px; margin-bottom:0px;line-height:2.15em;margin:30px auto;font-size:small;padding:30px;}
UL.prevnext {LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none; padding:0px; border:0px solid #e6e6e6;}
UL.prevnext li a{color:#204c97;}
#proddetail .showbox_icon{display:none;}
/*article_icon*/
.article_icon {display:block;text-align:center;padding:5% 0 2.5% 0;}
.article_icon a{display:inline-block;width:60px;padding-left:40px;padding-right:20px; height:40px;border:1px solid #333;line-height:40px;border-radius:20px;margin:0 1% 0 1%;}
.icon_hits{background:url("../../../Office/img/hit.png")/*tpa=http://www.rabbitexpress.cn/Office/img/hit.png*/ no-repeat 10px center;}
.icon_favs{background:url("../../../Office/img/fav.png")/*tpa=http://www.rabbitexpress.cn/Office/img/fav.png*/ no-repeat 10px center;}
.icon_unfavs{background:url("../../../Office/img/unfav.png")/*tpa=http://www.rabbitexpress.cn/Office/img/unfav.png*/ no-repeat 10px center;}
@media screen and (max-width:1200px) {
    .containerbox {position:relative;margin-top:0px;top:0px;background:none;}
    #secbanner {width:100%;padding-top:0px;max-height:initial;}
    #secbanner a{width:100%;}
    #secbanner a img{width:100%;}
    #secbanner .type_name{width:100%; position: absolute;top: 50px;left:0%;margin-left:0px; text-align:center;display:block;}
    #secbanner .type_name h3{font-size: 18pt;color: #fff;opacity:.8;margin-bottom: 10px;font-weight: 100;}
    #secbanner  .type_name p{font-size: 12pt;color: #fff;opacity:.6; font-weight:lighter; font-family: 'Arial';text-transform: uppercase;display:block;margin:0px;}
    #secbanner .type_name p:after{display:none;width:80px;height:4px;content:"";position:absolute;left:calc(50% - 40px);bottom:10px; background:#fff; }
    #secbanner .type_name i{display:none;width:1px;height:40px;background:#fff;position:absolute;margin-left:0px;left:50%; animation: tb linear 3s infinite alternate;}
    #secbanner .type_name i:after {position:absolute;width:9px;height:9px;border-radius:50%;bottom:0px;margin-left:-5px;left:50%;background:#fff;content:"";}
    /*
    .warper_top {display:block;width:100%;padding-top:0px;margin:0px auto 0px auto;color:#333;}
    .warper_top:before{display:none;}
    .warper_top a{color:#fff;}
    .warper_cet {width: 100%;padding:0 0 0 0;background:initial;}
    .righttit_bg {width:100%;background:#333;padding:0 0;color:#fff;margin-top:0px;}
        */
    #jj_left {display: none;position:absolute;width:100%;height:100%;background:#fff;z-index:999;top:40px;}
    #jj_left .left_title, .comlinkwarp {display: none;}
    #jj_right {float: initial;width:100%;margin-top:0px;border-left:initial;}
    #jj_right img {max-width:100%;}
    #jj_right_con{width:100%; padding:0%;margin-top:0px;position:relative; opacity:1; animation:FadeInUp .3s;} 
    h4.tit_detail{ font-weight:bold;color:#000;padding-left:0px;padding-right:0px;position:relative;top:-1px;border-bottom:0px solid #d4d4d4;width:100%;display:block;text-align:center;margin-top:0px;}
    .page_detail h4.tit_detail ,#article_detail h4.tit_detail {display: none;}
    
    /*文章多行列表展示*/
    #article_detail,.page_detail {width:100%;padding:0%;background:initial;}
    #article_detail .page_detail img {max-width: 100%;}
    .helptag {width: 100%;color:#999;margin-bottom:15px;}
    /*901*/
    .show_detail {width: 100%;padding: 0%;}
    #proddetail{ width:100%;padding:0px;margin:0px auto; height:auto; overflow:hidden; }
    #proddetailbox h4.prod_tit {width:100%; height:42px;line-height:42px;color:#d33a01;font-weight:500;font-size:16px;font-weight:bold;margin:1% 0% 1% 0%;}
    #proddetailbox p {padding:0px;}
    #proddetailbox p img {max-width:100%;}
    #proddetailbox .prod_case {width:100%;border-top:1px dotted #e8e8e8;}
    #proddetailbox .prod_case td{border-bottom: 1px dotted #e8e8e8;padding:4px 0px 4px 0px;}
    #proddetailbox table.prod_rc {width:100%;}
    #proddetailbox table tr td.rc_pic {width:200px;}
    #proddetailbox table tr td.rc_parmter {width:310px;}
    #proddetailbox table tr td img {width:150px;height:150px;border-radius:75px;}
    #proddetail .prodtotal{ line-height:48px;border-bottom:1px solid #f1f1f1; color:#333333; font-weight:bold;}
    #proddetail a img{width:270px; height:345px;}
    .proddetail_txt{ width:410px; float:right;position:relative; z-index:99;top:0px;}
    .proddetail_txt ul li{ line-height:42px;}
    .proddetail_txt ul li span{ line-height:42px; font-size:12px; font-weight:bold;}
    .proddetail_txt ul li.btnbox{ padding-top:10px; padding-left:0px;}
    .proddetail_txt ul li.btnbox img{width:95px; height:25px; margin-right:10px;}
    .proddetail_txt ul li.btnbox a.poplight{ display:inline; height:24px; padding:0px 10px 0px 10px; line-height:24px; border:1px solid #d1d1d1;}
    .prodtags{padding:2px 8px 2px 8px; background:#e50112; color:#ffffff; text-align:center; margin-left:10px;}
    .shoptitle{ font-size:18px; font-weight:bold; line-height:42px; border-bottom:1px dashed #e6e9ed; text-align:left;}
    .shopmembprice{ font-size:22px; font-weight:bold; color:#ff0000;}
    #proddetailtit div.show{ display:inline; width:120px; height:35px;}
    #proddetailbox{width:100%;margin:2.5% auto 0px auto;padding:0px; }

    #contenttools {position:fixed;width:30px;top:220px;right:0px;text-align:center;display:none;}
    #contenttools a {display:block;width:30px;line-height:30px;text-align:center;background:rgba(0,0,0,0.15);color:#fff;margin-right:0px;border-radius:15px;margin-bottom:10px;}
    #contenttools a:hover{background:rgba(0,0,0,0.65);}
    #contenttools a.print, #contenttools a.copylink {display:none;}
    .wxtags a.opensrcurl{color:#607fa6;}
    .article_default_list_fz2 {width:95%;margin:2.5%;}
    /***/
    div.info,div.order{display:none;}
    #jj_right_con .page_index_list .page_detail h4.tit_detail {height:42pt;min-height:42pt;display:none;}
    #jj_right_con .showlist h4.tit_detail {height:42pt;min-height:42pt;display:none;}    
    #jj_right_con  h4.tit_detail {display:block;}
    #jj_right_con  h4.tit_detail small {display: block;line-height:32pt;height:32pt; font-size:12pt;color:#000;font-weight:bold;z-index:9;position:relative;/* -webkit-text-stroke: 1px #fff;*/padding-top:12pt;}
    #jj_right_con  h4.tit_detail  font {margin-left:0px;color:#f1f1f1;font-size:32pt;text-transform:uppercase; font-style:italic;position:relative;top:-32pt;z-index:1}
    /*realteion*/
    .page_relation{display:block;width:100%;margin:0px auto 10% auto;}
    .relation_tit {display:block;border-bottom:0;height:60pt;line-height:60pt; text-align:center;font-weight:bold;}
    .page_detail{margin-bottom:2.5%;}
    /*ajax loading*/
    .waterfall-wrap {display: block;text-align: center;margin: 5% auto;}                                        
    .waterfall-wrap  a{display:block;width:120px;padding:5px 0px 5px 0px;text-align:center;color:#999;margin:0px auto;border:1px solid #f1f1f1;border-radius:5px;}
    .waterfall-loading{display:none;}
    .waterfall-end{color:#f1f1f1;}

    /*tags-link-prev-next-*/
    .helptags {TEXT-ALIGN: left; margin-top:100px; margin-bottom:10px;text-align:left;width:98%;background:#f6f7fb;display:none;padding:1%;font-size:small;line-height:2.15em;}
    .helptags a {display:inline;padding:2px 10px 2px 10px; background:#333; color:#fff;margin-right:5px;}
    .helptags a:hover {background:#d33a01;color:#ffffff;} 
    .helplink{ text-align:center;}
    UL.prevnext {display:block;position:relative;height:40px; margin-bottom:30px;line-height:2.15em;}
    UL.prevnext {LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none; padding:0px; border:0px solid #e6e6e6;}
    UL.prevnext LI {BACKGROUND-IMAGE: none; BORDER-BOTTOM: medium none; LINE-HEIGHT: 40px; WIDTH: 100%; border-bottom:none;float:left;}
    UL.prevnext LI:nth-child(2n){text-align:left; }
}